@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* ---------- HEADER ---------- */

header {
    margin: 50px;
}

.logo {
    width: 200px;
    height: 200px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Koulen', cursive;
}

li,
a {
    font-size: 40px;
    text-decoration: none;
    margin: 40px;
}

/* ---------- FIN HEADER ---------- */

.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.youtube {
    margin: 25px;
    width: 50%;
    height: 400px;
}

h2 {
    color: black;
    font-size: 35px;
    margin: 30px;
    font-family: 'M PLUS 1p', sans-serif;
}

p {
    width: 60%;
    margin: 10px;
    padding: 10px;
    color: red;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

.mapa {
    width: 60%;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.img {
    border: 5px solid darkred;
    margin: 10px;
}

/* ---------- HTML PLANTEL --------- */

.jugadores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.jugadores-uno {
    grid-area: 1 / 1 / 2 / 2;
}

.jugadores-dos {
    grid-area: 1 / 2 / 2 / 3;
}

.jugadores-tres {
    grid-area: 2 / 1 / 3 / 2;
}

.jugadores-cuatro {
    grid-area: 2 / 2 / 3 / 3;
}

/* ---------- FIN HTML PLANTEL ---------- */

/* ---------- HTML TITULOS ---------- */

.copas {
    width: 250px;
    height: 250px;
    transition-property: all;
    transition-duration: 2s;
}

.copas:hover {
    transform: scale(1.2);
}

.titulos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.premier {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 20px;
}

.premier-dos {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.champions {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 20px;
}

.champions-dos {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facup {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 20px;
}

.facup-dos {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carabao {
    grid-area: 4 / 1 / 5 / 2;
    padding-left: 20px;
}

.carabao-dos {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.europa {
    grid-area: 5 / 1 / 6 / 2;
    padding-left: 20px;
}

.europa-dos {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community {
    grid-area: 6 / 1 / 7 / 2;
    padding-left: 20px;
}

.community-dos {
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uefa {
    grid-area: 7 / 1 / 8 / 2;
    padding-left: 20px;
}

.uefa-dos {
    grid-area: 7 / 2 / 8 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifa {
    grid-area: 8 / 1 / 9 / 2;
    padding-left: 20px;
}

.fifa-dos {
    grid-area: 8 / 2 / 9 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- FIN HTML TITULOS ---------- */

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.redes {
    width: 80px;
    height: 80px;
    transition-property: all;
    transition-duration: 2s;
    border-radius: 50%;
}

.redes:hover {
    transform: scale(1.5);
}

/* ---------- FIN FOOTER ----------*/

/* ---------- Medias ---------- */

@media screen and (max-width: 576px) {
    .borrado {
        display: none;
    }

    .jugadores {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .jugadores-uno {
        grid-area: 1 / 1 / 2 / 2;
    }

    .jugadores-dos {
        grid-area: 2 / 1 / 3 / 2;
    }

    .jugadores-tres {
        grid-area: 3 / 1 / 4 / 2;
    }

    .jugadores-cuatro {
        grid-area: 4 / 1 / 5 / 2;
    }

    .player {
        width: 90%;
        height: 300px;
        margin: 10px;
    }

    .position1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .jugadores {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .jugadores-uno {
        grid-area: 1 / 1 / 2 / 2;
    }

    .jugadores-dos {
        grid-area: 2 / 1 / 3 / 2;
    }

    .jugadores-tres {
        grid-area: 3 / 1 / 4 / 2;
    }

    .jugadores-cuatro {
        grid-area: 4 / 1 / 5 / 2;
    }

    .position1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .jugadores {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .jugadores-uno {
        grid-area: 1 / 1 / 2 / 2;
    }

    .jugadores-dos {
        grid-area: 2 / 1 / 3 / 2;
    }

    .jugadores-tres {
        grid-area: 3 / 1 / 4 / 2;
    }

    .jugadores-cuatro {
        grid-area: 4 / 1 / 5 / 2;
    }

    .position1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}