@import '../base/listas';
@import '../base/extends';
@import '../base/mixins';

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @extend %marpad;
    
    .redes {
        @include varios(60px, 60px);
        transition-property: all;
        transition-duration: 2s;
        border-radius: nth($porcentajes, 3);
    }
}

.redes:hover {
    transform: scale(1.5);
}