@import "../base/listas";
@import "../base/mixins";

header {
    margin: nth($medidas, 10);
    .logo {
        @include varios(200px, 200px);
    }
    .navbar {
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-family: 'Koulen', cursive;
    }
    li, a {
        font-size: nth($medidas, 8);
        text-decoration: none;
        margin: nth($medidas, 8);
    }
}
