@import "../base/listas";

header {
    margin: nth($medidas, 10);
    .logo {
        width: nth($medidas, 14);
        height: nth($medidas, 14);
    }
    .navbar {
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-family: 'Koulen', cursive;
    }
    li, a {
        font-size: nth($medidas, 8);
        text-decoration: none;
        margin: nth($medidas, 8);
    }
}